PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000
MONGO_URI=mongodb://127.0.0.1:27017/rbac_roles
JWT_ACCESS_SECRET=REEMPLAZAR_POR_SECRET_ACCESS
JWT_REFRESH_SECRET=REEMPLAZAR_POR_SECRET_REFRESH