PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27019/mensajeria_security
CORS_WHITELIST=http://localhost:5173,http://localhost:3000
JWT_ACCESS_SECRET=REEMPLAZAR_POR_SECRET_ACCESS
JWT_REFRESH_SECRET=REEMPLAZAR_POR_SECRET_REFRESH